version: '3.1'

services:
  db:
    image: postgres:10-alpine
    restart: always
    ports:
      - $DBHOST:$DBPORT:5432
    environment:
      POSTGRES_USER: $DBUSER
      POSTGRES_PASSWORD: $DBPASS
      POSTGRES_DB: $DBNAME
    volumes:
      - pg-data:/var/lib/postgresql/data

volumes:
  pg-data:
